@media screen and (min-width:350px) {
    h1{
        font-size: 35px;
        text-align: center;
    }
    .father {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 8px;
      }
    .hijo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        width: 100%;
        padding: 0;
    }
    .card__hijo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 300px;
    
      }
      /* **************tablas y formularios */
      .option{
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        /* padding: 3px; */
      }
      .contenedor__doctores-formulario{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .doctores{
        width: 100%;
        text-align: center;
      }
      .padre__formulario{
        position: absolute;
        margin-top: 0%;
      
      }
      .doctor-agenda {
        width: 220px;
    }
      .tabla {
        height: 100%;
    }
    td{
      font-size: 12px;
      text-align: center;
    }
}

/* *********************query responsive 400px*********************** */
@media screen and (min-width:400px) {
    h1{
        font-size: 39px;
        text-align: center;
    }
    .father {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 8px;
      }
    .hijo {
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        width: 100%;
        padding: 10px;
    }
    .card__hijo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
       
    
      }
       /* **************tablas y formularios */
      .doctores{
        width: 300px;
      }  
      td{
        font-size: 16px;
      }
}
/* *********************query responsive 620px*********************** */
@media screen and (min-width:620px) {
    h1{
        font-size: 45px;
        text-align: center;
    }
    .father {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 8px;
      }
    .hijo {
        display: grid;
        grid-template-columns:  repeat(3,1fr);
        width: 100%;
        padding: 10px;
    }
    .card__hijo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
           /* **************tablas y formularios */
          .doctores{
            width: 100%;
            height: 300px;
            flex-direction: row;
          }
          .doctor-agenda {
            width: 250px;
        }
        .contenedor__name-doctores{
          text-align: center;
        }
        .contenedor__name-doctores p{
          font-size: 25px;
        }
}
/* *********************query responsive 767px*********************** */
@media screen and (min-width:767px) {
   
    .father {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 8px;
      }
    .hijo {
        display: grid;
        grid-template-columns:  repeat(3,1fr);
        width: 100%;
        padding: 10px;
    }
    .card__hijo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        height: 250px;
       
    
      }
}